@media only screen and (min-width: 1366px) {
  #protocol {
    height: 100vh;
    padding: 4% 1%;
  }
  #protocol ul {
    display: flex;
    min-height: 70vh;
    max-height: 70vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
    list-style-type: none;
  }
  .title-pro {
    padding: 1% 20%;
  }
  #protocol li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #3DC2CC;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  #protocol li:hover {
    background: #34bcc6;
  }
  #protocol li.active {
    flex: 5;
    background: #fff;
    cursor: default;
  }
  #protocol li.active h2 {
    color: #3DC2CC;
  }
  #protocol li.active .section-content {
    flex: 5;
    opacity: 1;
    transform: translateX(-10%);
    color: #3DC2CC;
  }
  #protocol li.active .p-content {
    display: none;
  }
  #protocol li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }
  #protocol li .section-title h2 {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0% 3%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
  }
  #protocol li .section-title .p-content {
    color: #fff !important;
    width: 100%;
  }
  #protocol li .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
  }
  #protocol li .protocol-image {
    width: 100%;
    padding: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1080px) {
  #protocol {
    height: 200vh;
    padding: 2% 4% 0%;
  }
  #protocol ul {
    display: flex;
    min-height: 150vh;
    max-height: 200vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
    list-style-type: none;
    background-color: #3DC2CC;
  }
  .title-pro {
    padding: 0.8% 10%;
  }
  #protocol li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #3DC2CC;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  #protocol li:hover {
    background: #34bcc6;
  }
  #protocol li.active {
    flex: 1;
    background: #fff;
    cursor: default;
  }
  #protocol li.active h2 {
    color: #3DC2CC;
  }
  #protocol li.active .section-content {
    flex: 5;
    opacity: 1;
    transform: translateX(-10%);
    color: #3DC2CC;
  }
  #protocol li.active .p-content {
    display: none;
  }
  #protocol li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }
  #protocol li .section-title h2 {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0% 3%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
  }
  #protocol li .section-title .p-content {
    color: #fff !important;
    width: 100%;
  }
  #protocol li .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
  }
  #protocol li .section-content p {
    font-size: 0.8rem;
  }
  #protocol li .protocol-image {
    /* height: 10%; */
    width: 100%;
    padding: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */