<%- include ("header.ejs")%>

<section id="banner" class="pt-5 pb-5">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis" style="background-color: #000;">
            <div class="row">
                <div class="col-lg-8 px-0">
                    <h1 class="display-4 fst-italic text-capitalize text-white">About-us</h1>
                    <p class="lead my-3 text-white">Do you have any questions? Please do not hesitate to contact us
                        directly. Our team will come back to you within a matter of hours to help you.</p>
                </div>
                <div class="col-lg-4 px-0">
                    <img src="/main-ai.svg" class="img-fluid border border-1 border-light rounded-circle"
                        alt="image-of-ideas-human" width="60%">
                </div>
            </div>
            <a class="btn btn-outline-light btn-lg" href="#contact-form">To the Form</a>
        </div>
    </div>
</section>




<%- include ("footer.ejs")%>