<%- include ("header.ejs")%>

<section id="banner">
    <div class="container-fluid banner-image-box">
            <img class="banner-image" src="/career-ban1.webp" alt="">
    </div>
</section>

<section id="text-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-lg-5 mt-sm-5">
                <h1 class="text-center">Why choose the EDV world!<img class="turn-down-arrow"
                    src="/turn down.png" alt="turn-down-arrow-image"></h1>
                <p class="text-center">
                    Join <code>EKK DIGITAL VYAPAR</code> to be a part of the colorful assortment of
                    <br>
                    <br>
                    coders, designers, content-writers, programmers, thinkers, and create a modernized digital future together.
                </p>
            </div>
            <div class="col-lg-12 culture shadow">
                <h1 class="text-center">Our Culture<img class="turn-down-arrow"
                    src="/turn down.png" alt="turn-down-arrow-image"></h1>
                <p class="text-right">
                    <strong>We have built a company where everyone contributes, and this company belongs to everyone.</strong>
                </p>
                <br>
                <p class="text-right">
                    Our expert and highly professional designers provide wireframes for various projects like websites, mobile apps, ecommerce boosting, generating user friendly dashboards and more.
                </p>
                <br>
                <p class="text-right">
                    At EDV, we believe in learning and continuous growth. This desire to learn and improve brings the best out of us, helping us scale new heights. We love what we do!
                </p>
                <br>
                <p class="text-right">
                    EDV’s are proud to say we excel in our work and enjoy every moment of working together as a team. Here at EDV, the work culture is built on the solid foundation of inclusion, collaboration, and support
                </p>
            </div>
        </div>
    </div>
</section>

<section id="opening-box">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center fw-bold" style="width: 100%;">Current Openings<img class="turn-down-arrow"
                    src="/turn down.png" alt="turn-down-arrow-image"></h1>
        </div>
        <div class="row opening-container">
            <div class="col-lg-3 col-sm-12 text-center fw-bold opening-item border border-dark px-2 py-2 mx-lg-5 my-4">
                UI/UX DESIGNER.
            </div>
            <div class="col-lg-3 col-sm-12 opening-item fw-bold text-center border border-dark px-2 py-2 mx-lg-5 my-4">
                React JS Developer
            </div>
            <div class="col-lg-3 col-sm-12 opening-item fw-bold text-center border border-dark px-2 py-2 mx-lg-5 my-4">
                NodeJS Developer
            </div>
            <div class="col-lg-5 col-sm-12 opening-item fw-bold text-center border border-dark px-2 py-2 mx-lg-5 my-4">
                Mobile App Developer
            </div>
            <div class="col-lg-5 col-sm-12 opening-item fw-bold text-center border border-dark px-2 py-2 mx-lg-5 my-4">
                Business Development Executive
            </div>
        </div>
    </div>
</section>

<%- include ("footer.ejs")%>