<%- include ("header.ejs")%>
<section id="title-banner">

    <div class="container">
        <div class="carousel-item active">
            <div class="row">
                <h1 class="mb-3 worked-title">Contact-us</h1>
                <div class="col-12 col-md-12 col-lg-6 title">
                    <h1>Because without it we wont be able to help You!</h1>
                    <a class="btn btn-hero btn-outline-dark btn-lg" href="#contact-form">To the Form</a>
                 </div>
                <div class="col-12 col-md-12 col-lg-6 text-center">
                    <img src="/main-ai.svg" class="img-fluid p-2" alt="image-of-ideas-human" width="80%">
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contact-form">
    <div class="container contact-form-box">
        <div class="row">
            <div class="col-6 col-lg-6 text-left">
                <h1 class="navbar-brand contact-logo">EDV</h1>
            </div>
            <div class="col-6 cl-lg-6">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary btn-md fw-bolder">Sign Up!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include ("footer.ejs")%>