<%- include ("header.ejs")%>

<section id="banner">
  <div class="container-fluid banner-image-box-ecom">
    <img class="banner-image" src="/digi-ban1.webp" alt="">
</div>
</section>

<div class="container my-5 desktop">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item mb-5 py-3">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Search Engine Optimization (SEO):
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
           • Welcome to our comprehensive guide on Search Engine Optimization (SEO). SEO is a crucial digital marketing
            strategy aimed at improving your website's visibility and ranking on search engine results pages (SERPs).
            Through meticulous keyword research, on-page optimization, building high-quality backlinks, and enhancing
            user experience, we ensure your website attracts organic traffic and stands out in the digital landscape.
          </p>
          <br>
          <p class="fw-light">
            • Explore our in-depth SEO resources to understand the latest techniques, best practices, and tips to boost
            your website's search engine rankings.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Social Media Marketing:
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • Welcome to the world of Social Media Marketing! Social media platforms have revolutionized the way we
            connect, share, and engage with our audience. At <code>EKK DIGITAL VYAPAR</code> , we specialize in leveraging the power
            of social media to elevate your brand presence, drive engagement, and foster meaningful connections with
            your target audience.
          </p>
          <br>
          <p class="fw-light">
            • Discover how our tailored social media strategies can help your brand thrive in the dynamic realm of social
            networks.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Content Marketing:
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • Discover the art and science of Content Marketing with <code>EKK DIGITAL VYAPAR</code>. Content is at the heart of every successful digital strategy. It's not just about creating content; it's about crafting compelling narratives that resonate with your audience. Our expert team helps you create, curate, and distribute content that captivates, educates, and inspires action.
          </p>
          <br>
          <p class="fw-light">
            • Unlock the potential of content marketing with our proven strategies and insights.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Email Marketing:
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • Welcome to the Email Marketing hub at <code>EKK DIGITAL VYAPAR</code> . Email marketing remains a cornerstone of effective communication with your audience. Crafted thoughtfully, emails have the power to nurture leads, convert prospects, and keep your customers informed and engaged.
          </p>
          <br>
          <p class="fw-light">
            • Explore our email marketing resources that crafts the perfect email campaigns that deliver results and foster long-term customer relationships.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          WhatsApp Marketing:
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • WhatsApp Marketing opens up a direct line of communication between your brand and your audience. At <code>EKK DIGITAL VYAPAR</code> , we understand the significance of engaging with your customers through this popular messaging platform. Our specialized WhatsApp marketing strategies help you create impactful campaigns, drive engagement, and personalize interactions for a unique customer experience.
          </p>
          <br>
          <p class="fw-light">
            • Uncover the potential of WhatsApp Marketing and enhance your brand's connection with your audience.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Google Marketing:
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • Navigate the realm of Google Marketing with <code>EKK DIGITAL VYAPAR</code> . Google's suite of tools and platforms offer diverse opportunities to boost your online presence. From targeted advertising with Google Ads to improving local visibility with Google My Business, and understanding user behavior with Google Analytics - we've got you covered.
          </p>
          <br>
          <p class="fw-light">
            • Here we our team will let your brand to harness the power of Google Marketing for unparalleled growth and reach.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item my-5 py-3">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          YouTube Marketing:
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <hr>
          <p class="fw-light">
            • Delve into the world of YouTube Marketing with <code>EKK DIGITAL VYAPAR</code> . Video content is a dominant force in the digital landscape, and YouTube is a platform where stories come to life. From creating engaging videos to optimizing your channel for search, YouTube marketing offers immense potential to reach a vast audience and build a loyal following.
          </p>
          <br>
          <p class="fw-light">
            • Discover our strategies and insights to make your mark in the realm of YouTube Marketing.
          </p>
          <br>
          <p class="fw-light">
            • Feel free to customize and integrate these content snippets into your website, adding your brand's unique voice and style to create a cohesive and engaging experience for your visitors.
          </p>
          <br>
          <p class="fw-light">
            • If you need further assistance or want more detailed content, feel free to ask!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container align-items-center mobile" id="ecomerce">
  <nav class="nav-box">
      <div class="flex-column nav-pills me-3 ecomerce-nav-box" id="nav-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#1-v" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Search Engine Optimization (SEO):</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#2-v" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Social Media Marketing:</button>
        <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#3-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Content Marketing:</button>
        <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#4-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Email Marketing:</button>
        <button class="nav-link fw-bold" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#5-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">WhatsApp Marketing:</button>
        <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#6-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Google Marketing:</button>
        <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#7-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">YouTube Marketing:</button>
      </div>
    </nav>
   <div class="tab-content digital-content-box" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="1-v" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <p class="fw-dark">
          • Welcome to our comprehensive guide on Search Engine Optimization (SEO). SEO is a crucial digital marketing
           strategy aimed at improving your website's visibility and ranking on search engine results pages (SERPs).
           Through meticulous keyword research, on-page optimization, building high-quality backlinks, and enhancing
           user experience, we ensure your website attracts organic traffic and stands out in the digital landscape.
         </p>
         <br>
         <p class="fw-dark">
           • Explore our in-depth SEO resources to understand the latest techniques, best practices, and tips to boost
           your website's search engine rankings.
         </p>
      </div>
      <div class="tab-pane fade" id="2-v" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <p class="fw-light">
          • Welcome to the world of Social Media Marketing! Social media platforms have revolutionized the way we
          connect, share, and engage with our audience. At 'EKK DIGITAL VYAPAR' , we specialize in leveraging the power
          of social media to elevate your brand presence, drive engagement, and foster meaningful connections with
          your target audience.
        </p>
        <br>
        <p class="fw-light">
          • Discover how our tailored social media strategies can help your brand thrive in the dynamic realm of social
          networks.
        </p>
      </div>
      <div class="tab-pane fade" id="3-v" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <p class="fw-light">
          • Discover the art and science of Content Marketing with 'EKK DIGITAL VYAPAR'. Content is at the heart of every successful digital strategy. It's not just about creating content; it's about crafting compelling narratives that resonate with your audience. Our expert team helps you create, curate, and distribute content that captivates, educates, and inspires action.
        </p>
        <br>
        <p class="fw-light">
          • Unlock the potential of content marketing with our proven strategies and insights.
        </p>
      </div>
      <div class="tab-pane fade" id="4-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- Visibility Management</p>
          <p class="text-dark">- A+ Listing, Brand Store</p>
          <p class="text-dark">- Improving organic reach of your store and products</p>
          <p class="text-dark">- Daily Virtual Order Processing</p>
          <p class="text-dark">- Powered by EDV Software</p>
          <p class="text-dark">- Access for real time access to your eCommerce business from one single dashboard.</p>
      </div>
      <div class="tab-pane fade" id="5-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- New Marketplace Onboarding*</p>
          <p class="text-dark">- Access to Global Selling Sites*</p>
          <p class="text-dark">- Create Plan of Action*</p>
          <p class="text-dark">- Existing long term relationship with marketplace POC.</p>
      </div>
      <div class="tab-pane fade" id="6-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- Profitability Analysis & Remittance</p>
          <p class="text-dark">- Remittance reports</p>
          <p class="text-dark">- Drilled down analysis of profitability at product level</p>
          <p class="text-dark">- Returns and Cancellation analysis</p>
          <p class="text-dark">- Suggestive measures for course correction</p>
      </div>
      <div class="tab-pane fade" id="7-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- Account Monitoring</p>
          <p class="text-dark">- Alerts</p>
          <p class="text-dark">- SLA Breach</p>
          <p class="text-dark">- Reputation Management</p>
      </div>
      <div class="tab-pane fade" id="8-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- Accessible throughout Business Hours</p>
          <p class="text-dark">- Personalized Attention</p>
          <p class="text-dark">- Email Support</p>
          <p class="text-dark">- Scheduled Calls as Per SLA</p>
      </div>
      <div class="tab-pane fade" id="9-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <p class="text-dark">- Weekly/Monthly Calls</p>
          <p class="text-dark">- Review Reports</p>
          <p class="text-dark">- Weekly/Fortnightly Reviews</p>
          <p class="text-dark">- Access to EDV Dashboard</p>
          <p class="text-dark">- Advertising Reports</p>
      </div>
    </div>
</div>




<%- include ("footer.ejs")%>