<%- include ("header.ejs")%>

<section id="banner">
    <div class="container-fluid banner-image-box-ecom">
        <img class="banner-image" src="/ecom-ban1.webp" alt="">
    </div>
</section>

        <div class="container my-5 desktop" id="ecomerce">
            <nav>
                <div class="nav nav-tabs ecomerce-nav-box" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#1" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Strategic Consulting</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#2" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Advertising Expertise</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#3" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Marketplace Expertise</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#4" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Operational Expertise</button>
                  <button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#5" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">The EDV Edge</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#6" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">eCommerce Payments Expertise</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#7" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">eCommerce Account Health</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#8" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Dedicated Team of Experts</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#9" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Reporting</button>
                </div>
              </nav>
              <div class="tab-content ecomerce-content-box" id="nav-tabContent">
                <div class="tab-pane fade show active p-5" id="1" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p class="text-dark">- Sales Planning and Forecasting</p>
                    <p class="text-dark">- Pricing Suggestions</p>
                    <p class="text-dark">- Competition Bench-marking</p>
                    <p class="text-dark">- New Product/ Line Extension</p>
                    <p class="text-dark">- Marketplace Inputs & Historic Data Trends </p>
                    <p class="text-dark">- Ageing Inventory Action/Liquidation</p>
                    <p class="text-dark">- Business Analytics</p>
                </div>
                <div class="tab-pane fade p-5" id="2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p class="text-dark">- Marketplace Advertising (PLA)</p>
                    <p class="text-dark">- PPC, ADS, MANUALS, ROI</p>
                    <p class="text-dark">- Google Campaigns</p>
                    <p class="text-dark">- eCommerce SEM</p>
                    <p class="text-dark">- eCommerce SEO</p>
                </div>
                <div class="tab-pane fade p-5" id="3" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p class="text-dark">- Strategic insights in optimising warehousing & logistics</p>
                    <p class="text-dark">- Marketplace fulfilment Models Assistance</p>
                    <p class="text-dark">- Marketplace Promotions</p>
                    <p class="text-dark">- Flash Sales, Tags, Mega Events</p>
                    <p class="text-dark">- Other Monthly events</p>
                </div>
                <div class="tab-pane fade p-5" id="4" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- Visibility Management</p>
                    <p class="text-dark">- A+ Listing, Brand Store</p>
                    <p class="text-dark">- Improving organic reach of your store and products</p>
                    <p class="text-dark">- Daily Virtual Order Processing</p>
                    <p class="text-dark">- Powered by EDV Software</p>
                    <p class="text-dark">- Access for real time access to your eCommerce business from one single dashboard.</p>
                </div>
                <div class="tab-pane fade p-5" id="5" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- New Marketplace Onboarding*</p>
                    <p class="text-dark">- Access to Global Selling Sites*</p>
                    <p class="text-dark">- Create Plan of Action*</p>
                    <p class="text-dark">- Existing long term relationship with marketplace POC.</p>
                </div>
                <div class="tab-pane fade p-5" id="6" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- Profitability Analysis & Remittance</p>
                    <p class="text-dark">- Remittance reports</p>
                    <p class="text-dark">- Drilled down analysis of profitability at product level</p>
                    <p class="text-dark">- Returns and Cancellation analysis</p>
                    <p class="text-dark">- Suggestive measures for course correction</p>
                </div>
                <div class="tab-pane fade p-5" id="7" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- Account Monitoring</p>
                    <p class="text-dark">- Alerts</p>
                    <p class="text-dark">- SLA Breach</p>
                    <p class="text-dark">- Reputation Management</p>
                </div>
                <div class="tab-pane fade p-5" id="8" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- Accessible throughout Business Hours</p>
                    <p class="text-dark">- Personalized Attention</p>
                    <p class="text-dark">- Email Support</p>
                    <p class="text-dark">- Scheduled Calls as Per SLA</p>
                </div>
                <div class="tab-pane fade p-5" id="9" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p class="text-dark">- Weekly/Monthly Calls</p>
                    <p class="text-dark">- Review Reports</p>
                    <p class="text-dark">- Weekly/Fortnightly Reviews</p>
                    <p class="text-dark">- Access to EDV Dashboard</p>
                    <p class="text-dark">- Advertising Reports</p>
                </div>
              </div>
        </div>

        <div class="container align-items-center mobile" id="ecomerce">
            <nav class="nav-box">
                <div class="flex-column nav-pills me-3 ecomerce-nav-box" id="nav-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#1-v" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Strategic Consulting</button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#2-v" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Advertising Expertise</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#3-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Marketplace Expertise</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#4-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Operational Expertise</button>
                  <button class="nav-link fw-bold" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#5-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">The EDV Edge</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#6-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">eCommerce Payments Expertise</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#7-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">eCommerce Account Health</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#8-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Dedicated Team of Experts</button>
                  <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#9-v" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Reporting</button>
                </div>
              </nav>
             <div class="tab-content ecomerce-content-box" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="1-v" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <p class="text-dark">- Sales Planning and Forecasting</p>
                    <p class="text-dark">- Pricing Suggestions</p>
                    <p class="text-dark">- Competition Bench-marking</p>
                    <p class="text-dark">- New Product/ Line Extension</p>
                    <p class="text-dark">- Marketplace Inputs & Historic Data Trends </p>
                    <p class="text-dark">- Ageing Inventory Action/Liquidation</p>
                    <p class="text-dark">- Business Analytics</p>
                </div>
                <div class="tab-pane fade" id="2-v" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <p class="text-dark">- Marketplace Advertising (PLA)</p>
                    <p class="text-dark">- PPC, ADS, MANUALS, ROI</p>
                    <p class="text-dark">- Google Campaigns</p>
                    <p class="text-dark">- eCommerce SEM</p>
                    <p class="text-dark">- eCommerce SEO</p>
                </div>
                <div class="tab-pane fade" id="3-v" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <p class="text-dark">- Strategic insights in optimising warehousing & logistics</p>
                    <p class="text-dark">- Marketplace fulfilment Models Assistance</p>
                    <p class="text-dark">- Marketplace Promotions</p>
                    <p class="text-dark">- Flash Sales, Tags, Mega Events</p>
                    <p class="text-dark">- Other Monthly events</p>
                </div>
                <div class="tab-pane fade" id="4-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- Visibility Management</p>
                    <p class="text-dark">- A+ Listing, Brand Store</p>
                    <p class="text-dark">- Improving organic reach of your store and products</p>
                    <p class="text-dark">- Daily Virtual Order Processing</p>
                    <p class="text-dark">- Powered by EDV Software</p>
                    <p class="text-dark">- Access for real time access to your eCommerce business from one single dashboard.</p>
                </div>
                <div class="tab-pane fade" id="5-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- New Marketplace Onboarding*</p>
                    <p class="text-dark">- Access to Global Selling Sites*</p>
                    <p class="text-dark">- Create Plan of Action*</p>
                    <p class="text-dark">- Existing long term relationship with marketplace POC.</p>
                </div>
                <div class="tab-pane fade" id="6-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- Profitability Analysis & Remittance</p>
                    <p class="text-dark">- Remittance reports</p>
                    <p class="text-dark">- Drilled down analysis of profitability at product level</p>
                    <p class="text-dark">- Returns and Cancellation analysis</p>
                    <p class="text-dark">- Suggestive measures for course correction</p>
                </div>
                <div class="tab-pane fade" id="7-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- Account Monitoring</p>
                    <p class="text-dark">- Alerts</p>
                    <p class="text-dark">- SLA Breach</p>
                    <p class="text-dark">- Reputation Management</p>
                </div>
                <div class="tab-pane fade" id="8-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- Accessible throughout Business Hours</p>
                    <p class="text-dark">- Personalized Attention</p>
                    <p class="text-dark">- Email Support</p>
                    <p class="text-dark">- Scheduled Calls as Per SLA</p>
                </div>
                <div class="tab-pane fade" id="9-v" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="text-dark">- Weekly/Monthly Calls</p>
                    <p class="text-dark">- Review Reports</p>
                    <p class="text-dark">- Weekly/Fortnightly Reviews</p>
                    <p class="text-dark">- Access to EDV Dashboard</p>
                    <p class="text-dark">- Advertising Reports</p>
                </div>
              </div>
        </div>


<%- include ("footer.ejs")%>