<div class="container px-5">
  <hr class="border-dark">
</div>

<section id="footer">
  <div class="container-fluid">
    <footer class="text-sm-left text-lg-start text-dark px-sm-5">
     
      <!-- Section: Links  -->
      <section id="footer-links">
        <div class="container-fluid text-left text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-2">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h1 class="fw-bold text-dark footer-brand">EkkDigitalVyapar.</h1>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #F7F9FB; height: 2px" />
              <p>
                We Partner With Digital Brands And Scale Them Exponentially.
              </p>

              <div class="my-5">
                <header class="fw-bold py-2 text-dark">Get connected with us on social networks:</header>
                <div>
                  <a href="https://instagram.com/ekkdigitalvyapar" class="me-4" target="_blank">
                    <img src="/instatest.png" alt="">
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100091874525042" class="me-4" target="_blank">
                    <img src="/fbtest.png" alt="">
                  </a>
                  <a href="https://www.linkedin.com/company/ekk-digital-vyapar/?viewAsMember=true" class="me-4" target="_blank">
                    <img src="/lntest.png" alt="">
                  </a>
                  <a href="https://wa.me/919978973843" class="me-4" target="_blank">
                    <img src="/WPtest.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-dark text-uppercase fw-bold">Services</h6>
              <hr class="mb-2 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #F7F9FB; height: 2px" />
              <p>
                <a href="/Eccomerce-Consultancy" class="text-decoration-none text-dark">Ecommerce Consultancy</a>
              </p>
              <p>
                <a href="/Digital-Marketing" class="text-decoration-none text-dark">Digital Marketing</a>
              </p>
              <p>
                <a href="/Influencer-Marketing" class="text-decoration-none text-dark">Influencer Marketing</a>
              </p>
              <p>
                <a href="/Web-Dev" class="text-decoration-none text-dark">Web Design & Development</a>
              </p>
              <p>
                <a href="/Reco" class="text-decoration-none text-dark">Business Reconciliation</a>
              </p>
              
              <h6 class="text-dark text-uppercase mt-5 fw-bold">Other Links</h6>
              <hr class="mb-2 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #F7F9FB; height: 2px" />
              <p>
                <a href="/Blogs" class="text-decoration-none text-dark">Blogs</a>
              </p>
              <p>
                <a href="/Career" class="text-decoration-none text-dark">Career</a>
              </p>
              <p>
                <a href="/Contact" class="text-decoration-none text-dark">Contact-Us</a>
              </p>
              <p>
                <a href="/#worked" class="text-decoration-none text-dark">Brands</a>
              </p>
              <p>
                <a href="/#services" class="text-decoration-none text-dark">Offerings</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold text-dark">Address</h6>
              <hr class="mb-2 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #F7F9FB; height: 2px" />
              <p>
                21, Ganesh Krupa Industries, 
                <br>opp. Bhestan Garden, 
                <br>Bhestan, Surat, 
                <br>Gujarat-395023
              </p>
            
            </div>
            <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-dark text-uppercase fw-bold">Email</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #F7F9FB; height: 2px" />
        <p>
          <a href=mailto:"info@ekkdigitalvyapar.com" class="text-decoration-none text-dark">info@ekkdigitalvyapar.com</a>
        </p>

        <h6 class="mt-4 text-dark text-uppercase fw-bold">Mobile</h6>
        <hr class="mb-0 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #F7F9FB; height: 2px" />
        <p>
          <p class="text-decoration-none text-dark">+91-9978973843</p>
        </p>

        <h6 class="mt-4 text-dark text-uppercase fw-bold">Stay Up to date!</h6>
        <hr class="mb-0 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #F7F9FB; height: 2px" />
        <div class="mb-3">
        <span id="success" class="fw-bolder text-center text-capitalize p-2"></span>
        <form id="myForm needs-validation" class="row" name="submit-to-google-sheet3">
            <input type="email" class="form-control footer-email mb-3" name="email-foo" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email..." required>
            <button type="submit" class="btn btn-dark fw-bolder border border-1 rounded-pill border-info text-white">Submit</button>
          </form>
        </div>
      </div>
      <!-- Grid column -->
    </section>
    <!-- Section: Links  -->
      <!-- Copyright -->
      <div class="text-center fw-bold text-dark">
        © Copyright 2023 
        <a class="text-dark fw-bold text-decoration-none" href="/">Ekk Digital Vyapar.</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </div>
</section>
<script>
  // form script
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwDaJeyFPkRvyjKWIEdq8Bv9mxF3QXdAUleOXiO2za-Jy16AJfDR7iJRibCDxd6rfx3/exec'
    const form = document.forms['submit-to-google-sheet3']
    const success = document.getElementById("success") 
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
          success.innerHTML = "Thanks for subscribing!";
          setTimeout(()=>{
            success.innerHTML = "";
          }, 5000)
          form.reset();
        })
        .catch(error => console.error('Error!', error.message))
    });
  </script>
<script src="/index.js"></script>
</body>

</html>





