<%- include ("header.ejs") %>

<section id="hero">
    <div class="container">
        <div id="carouselExampleFade" class="carousel" data-bs-ride="carousel" data-bs-interval=3000>
            <div class="carousel-indicators" style="height: 10px;">
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0"
                    class="active bg-dark px-2 mt-lg-4" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1"
                    class="bg-dark px-2 mt-lg-4" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2"
                    class="bg-dark px-2 mt-lg-4" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="3"
                    class="bg-dark px-2 mt-lg-4" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="4"
                    class="bg-dark px-2 mt-lg-4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner slide carousel-fade">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 title">
                            <h5 class="fw-light hero-title">At EDV<img class="turn-down-arrow" src="/turn down.png"
                                    alt="turn-down-arrow-image"></h5>
                            <h1>"Digital Marketing Company"</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distincti Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eaque dicta earum, sit assumenda quia
                                temporibus dolorem laudantium magnam numquam possimus magni suscipit? Repellendus
                                possimus sit architecto at amet aliquid quisquam?</p>
                            <button class="btn btn-hero btn-dark btn-md-sm btn-lg-lg" type="button">
                                Get in touch!</button>
                            <button class="btn btn-hero btn-outline-primary btn-md-sm btn-lg-lg" type="button">Learn
                                more!</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 for-small">
                            <img src="/main-ai.svg" class="title-img img-fluid" alt="image-of-ideas-human">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 title">
                            <h5 class="fw-light hero-title">At EDV<img class="turn-down-arrow" src="/turn down.png"
                                    alt="turn-down-arrow-image"></h5>
                            <h1>"Eccomerce Consultancy"</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distincti Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eaque dicta earum, sit assumenda quia
                                temporibus dolorem laudantium magnam numquam possimus magni suscipit? Repellendus
                                possimus sit architecto at amet aliquid quisquam?</p>
                            <button class="btn btn-hero btn-dark btn-md-sm btn-lg-lg" type="button">
                                Get in touch!</button>
                            <button class="btn btn-hero btn-outline-primary btn-md-sm btn-lg-lg" type="button">Learn
                                more!</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 for-small">
                            <img src="/2nd-ai.svg" class="title-img img-fluid" alt="image-of-working-humans-bussiness">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 title">
                            <h5 class="fw-light hero-title">At EDV<img class="turn-down-arrow" src="/turn down.png"
                                    alt="turn-down-arrow-image"></h5>
                            <h1>"Influencer Marketing"</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distincti Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eaque dicta earum, sit assumenda quia
                                temporibus dolorem laudantium magnam numquam possimus magni suscipit? Repellendus
                                possimus sit architecto at amet aliquid quisquam?</p>
                            <button class="btn btn-hero btn-dark btn-md-sm btn-lg-lg" type="button">
                                Get in touch!</button>
                            <button class="btn btn-hero btn-outline-primary btn-md-sm btn-lg-lg" type="button">Learn
                                more!</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 for-small">
                            <img src="/2nd-ai.svg" class="title-img img-fluid" alt="image-of-working-humans-bussiness">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 title">
                            <h5 class="fw-light hero-title">At EDV<img class="turn-down-arrow" src="/turn down.png"
                                    alt="turn-down-arrow-image"></h5>
                            <h1>"Web-Development"</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distincti Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eaque dicta earum, sit assumenda quia
                                temporibus dolorem laudantium magnam numquam possimus magni suscipit? Repellendus
                                possimus sit architecto at amet aliquid quisquam?</p>
                            <button class="btn btn-hero btn-dark btn-md-sm btn-lg-lg" type="button">
                                Get in touch!</button>
                            <button class="btn btn-hero btn-outline-primary btn-md-sm btn-lg-lg" type="button">Learn
                                more!</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 for-small">
                            <img src="/2nd-ai.svg" class="title-img img-fluid" alt="image-of-working-humans-bussiness">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 title">
                            <h5 class="fw-light hero-title">At EDV<img class="turn-down-arrow" src="/turn down.png"
                                    alt="turn-down-arrow-image"></h5>
                            <h1>"Every Part oF a Hustle Under One Roof"</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distincti Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Eaque dicta earum, sit assumenda quia
                                temporibus dolorem laudantium magnam numquam possimus magni suscipit? Repellendus
                                possimus sit architecto at amet aliquid quisquam?</p>
                            <button class="btn btn-hero btn-dark btn-md-sm btn-lg-lg" type="button">
                                Get in touch!</button>
                            <button class="btn btn-hero btn-outline-primary btn-md-sm btn-lg-lg" type="button">Learn
                                more!</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 for-small">
                            <img src="/3rd-ai.svg" class="title-img img-fluid" alt="image-of-growth-planning">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="custom-shape-divider-bottom-1685172480">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>

<section id="experience">
    <div class="container-fluid">
        <h1 class="text-center fw-bold worked-title">Too Much Of Trouble Doing Business?</h1>
        <h5 class="fw-light text-center">So this how we can try to help!<img class="turn-down-arrow"
                src="/turn down.png" alt="turn-down-arrow-image"></h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>✨Product Selection</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>Photoshoot✨</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>✨Technical Listing With SEO</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>Visibility Targetting✨</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>✨Promotional Activities</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>Creating Social Media Awareness✨</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>✨Boost Organic Orders</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>Quaterly Growth Planing✨</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <span><img src="/feature1.svg" alt=""></span>
                            <h4>✨Reconciliation</h4>
                            <p>We gather your business and products information. We then determine the direction of the
                                project and understand your goals and we combine your ideas with ours for an amazing
                                website.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="sticky-container-for-hori">
        <div class="container-fluid service-title-box">
            <h1 class="fw-bolder service-title">For Every Problem For This Vast Digital World ✨</h1>
            <h5 class="fw-light">what we have to offer!<img class="turn-down-arrow" src="/turn down.png"
                    alt="turn-down-arrow-image"></h5>
        </div>
        <div class="main-hori">
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service one">
                        <img class="service-gif" src="/Marketing consulting.gif" alt="">
                        <h1>Increase Sales</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima omnis magni a distinctio,
                            saepe
                            rem inventore perspiciatis dignissimos cum magnam minus recusandae odit repudiandae autem.
                            Dolores cumque amet ab quis distinctio optio possimus tempore recusandae reprehenderit
                            perferendis libero, esse tempora iusto dolorem earum molestiae eos ducimus qui omnis
                            repellat
                            explicabo!</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service two">
                        <img class="service-gif" src="/web-development.gif" alt="">
                        <h1>Digital Marketing Strategies</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service three">
                        <img class="service-gif" src="/digital-market.gif" alt="">
                        <h1>Conversion Ratios</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service four">
                        <img class="service-gif" src="/reco.gif" alt="">
                        <h1>Traffic Generation</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <img class="service-gif" src="/influencer.gif" alt="">
                        <h1>Collabrations</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service six">
                        <img class="service-gif" src="/SEO.gif" alt="">
                        <h1>Business Automations</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <img class="service-gif" src="/influencer.gif" alt="">
                        <h1>Website</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <img class="service-gif" src="/influencer.gif" alt="">
                        <h1>Actual Reports</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <img class="service-gif" src="/influencer.gif" alt="">
                        <h1>First Impression Shoot</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nostrum officia
                            saepe!
                            Non
                            est id ipsa tempora excepturi, fugiat incidunt laboriosam veniam dignissimos accusamus
                            dolore
                            assumenda impedit dolores libero blanditiis perferendis mollitia beatae deleniti?</p>
                        <button class="btn btn-dark btn-md-sm btn-lg-lg" type="button">Learn more!</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<section id="worked">
    <div class="container-fluid">
        <h1 class="text-left fw-bold worked-title">Our Leaderboards💪<img class="turn-down-arrow" src="/turn down.png"
                alt="turn-down-arrow-image"></h1>
    </div>
    <div class="row worked-box shadow">
        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-primary">⭐ Fab Galaxy Pvt. Ltd.</h1>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-info">⭐ Veer Textile</h1>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-danger">⭐ Shree Brijwasi Fashion</h1>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-success">⭐ Vani Apsara</h1>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-warning">⭐ Astoban</h1>
        </div>

        <div class="col-12 col-lg-4 col-md-6">
            <h1 class="worked-party text-primary">⭐ Vaari Jaava</h1>
        </div>
    </div>
</section>

<section id="counter" class="counter section-work-data">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="2000">0+</h2>
                <p>project complted</p>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="6000">0+</h2>
                <p>project complted</p>

            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="3000">0+</h2>
                <p>project complted</p>

            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="1000">0+</h2>
                <p>project complted</p>

            </div>
        </div>
        <div id="particles-js"></div>
    </div>
</section>




<%- include ("footer.ejs") %>


<!-- <section id="features">
    <div class="row">
        <div class="feature-box col-lg-4">
            <img class="icon60" src="/feature1.svg" alt="">
            <h3>Client Ki Icha Sar Ankhon Par</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio magni commodi accusantium debitis
                corrupti iste similique porro dolor veniam ipsa, quibusdam consequatur dignissimos dolore
                repudiandae.
            </p>
            <button class="btn arrow"></button>
        </div>
        <div class="feature-box col-lg-4">
            <img class="icon60" src="/feature3.svg" alt="">
            <h3>Reliable In Word And Deed</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio magni commodi accusantium debitis
                corrupti iste similique porro dolor veniam ipsa, quibusdam consequatur dignissimos dolore
                repudiandae
                Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn arrow"></button>
        </div>
        <div class="feature-box col-lg-4">
            <img class="icon60" src="/feature2.svg" alt="">
            <h3>Inituitative Communications</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio magni commodi accusantium debitis
                corrupti iste similique porro dolor veniam ipsa, quibusdam consequatur dignissimos dolore
                repudiandae..
            </p>
            <button class="btn arrow"></button>
        </div>
    </div>
</section> -->