body {
    background-color: #ecf5fe;
}

@media only screen and (max-width: 1080px) {
    body{
        overflow-x: hidden;
    }
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #081247;
    outline: 1px solid #081247;
}

.brand-logo {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bolder;
    background: -webkit-linear-gradient(#0083ff, #0083ff, #081247);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    transition: all 2s;
}

@media only screen and (min-width: 1366px) {
    #navbar {
        align-items: center;
        box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
        padding: 0.2% 4%;
    }

    .navbar-scrolled {
        background-color: #ecf5fe;
        height: 4.5rem;
        box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
        padding: 0.1% 5%;
    }

    ul {
        background-color: #ecf5fe;
        padding: 1% 0%;
    }

    .dropdown-menu {
        display: block;
        transform: translateY(-50rem);
        left: 0;
        transition: all 0.5s;
    }

    .dropdown-hover:hover>.dropdown-menu {
        color: #0083ff;
        display: inline-block;
        left: 0;
        transform: translateY(10px);
    }
}

@media only screen and (max-width: 1080px) {
    .navbar-scrolled {
        background-color: #ecf5fe;
        height: 5rem;
        box-shadow: 15px 0 25px 0 rgba(200, 219, 239, 0.3);
        padding: 1% 0%;
    }

    .fixed-top {
        max-width: 100vw;
    }

    ul {
        padding: 0% 2%;
        background-color: #ecf5fe;
    }

    ul li {
        font-size: 1rem;
        padding: 2% 3%;
        border-radius: 3%;
        margin-bottom: 2%;
    }
    
    .navbar ul li{
        border: 2px dashed #273f5b;
    }

    .dropdown-menu {
        height: 350px;
        overflow: auto;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }
}

.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
}

.list-group-item {
    background-color: #ecf5fe;
    color: #273f5b;
}


/* hero section */
/* hero section starts from here */

@media only screen and (min-width: 1366px) {

    #hero .container {
        padding: 1% 3% 3%;
    }

    .carousel-item {
        height: 80vh;
    }

    .title {
        color: #273f5b;
        font-weight: bold;
        font-size: 8rem;
        line-height: 1.5;
        padding: 7% 1% 1% 3%;
    }

    .btn-hero {
        position: relative;
        top: -5rem;
    }

    .title-img {
        width: 100%;
    }

    #hero h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    #hero p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        font-size: 1.3rem;
        line-height: 1;
    }

    .turn-down-arrow {
        height: 3rem;
        padding-left: 0;
        padding-top: 0.5rem;
    }

    .carousel-control-prev {
        height: 20px;
    }

    .carousel-control-next {
        height: 20px;
    }

    .carousel-control-next-icon {
        position: absolute;
        top: 50vh;
        right: 20%;
        filter: invert(100%);
    }

    .carousel-control-prev-icon {
        position: absolute;
        top: 50vh;
        left: 20%;
        filter: invert(100%);
    }

    .custom-shape-divider-bottom-1685172480 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-bottom-1685172480 svg {
        position: relative;
        display: block;
        width: calc(124% + 1.3px);
        height: 81px;
    }

    .custom-shape-divider-bottom-1685172480 .shape-fill {
        fill: #FFFFFF;
    }
}

@media only screen and (max-width: 1080px) {

    #hero .container {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 100vh;
        padding: 5% 2% 0%;
    }

    .turn-down-arrow {
        height: 2.3rem;
        padding-left: 0;
        padding-top: 0.2rem;
    }

    #hero h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 2rem;
        line-height: 1.2;
    }

    #hero p {
        font-size: 1.1rem;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .btn-hero {
        font-size: 1rem;
    }

    .title-img {
        width: 100%;
        height: 80%;
    }

    .custom-shape-divider-bottom-1685172480 {
        display: none;
    }

    .carousel-indicators {
        top: 50vh;
        rotate: 90deg;
        margin-left: 90vw;
        height: auto;
    }
    
}


/* timeline start */
/* timeline start box */

@media only screen and (min-width: 1366px) {

    #experience {
        margin-top: 9vh;
        background-color: white;
        padding: 3% 5%;
    }

    ul.timeline-list {
        background-color: #fff;
        position: relative;
        margin: 0;
        padding: 0
    }

    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        border: 2px dashed #273f5b;
        background-color: #FFFFFF;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }

    .timeline_content {
        border: 3px dashed #d3d3d3;
        border-radius: 5px;
    }
    
    ul.timeline-list li .timeline_content {
        background-color: #ecf5fe;
        width: 45%;
        color: #273f5b;
        padding: 30px;
        float: left;
        text-align: right;
        -webkit-box-shadow: -13px 17px 29px -20px rgba(176, 170, 176, 1);
        -moz-box-shadow: -13px 17px 29px -20px rgba(176, 170, 176, 1);
        box-shadow: -20px 17px 29px -20px rgba(176, 170, 176, 1);
    }
    
    ul.timeline-list li:nth-child(2n) .timeline_content {
        background-color: #273f5b;
        color: #ecf5fe;
        float: right;
        text-align: left;
        -webkit-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        -moz-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
    }

    .timeline_content h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 10px 0;
    }

    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: blueviolet;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .timeline_content span {
        font-size: 18px;
        color: #0083ff;
    }
}

@media only screen and (max-width: 1080px) {
    
    #experience {
        margin-top: 9vh;
        background-color: white;
        padding: 4% 1%;
    }

    ul.timeline-list {
        background-color: #fff;
        position: relative;
        margin: 0;
        padding: 0;
    }

    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        border: 2px dashed #273f5b;
        background-color: #FFFFFF;
        left: 0;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }

    .timeline_content {
        border: 1px dashed #081247;
        border-radius: 5px;
    }
    
    ul.timeline-list li .timeline_content {
        background-color: #ecf5fe;
        color: #273f5b;
        padding: 1% 3%;
        float: left;
        text-align: right;
        -webkit-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        -moz-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
    }
    
    ul.timeline-list li:nth-child(2n) .timeline_content {
        background-color: #273f5b;
        color: #ecf5fe;
        border: 1px dashed #081247;
    }

    .timeline_content h4 {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 10px 0;
    }
    
    .timeline_content p {
        font-size: 0.8rem;
        margin: 10px 0;
    }

    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #0083ff;
        left: 0%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .timeline_content span {
        font-size: 18px;
    }

}

/* service box */
/* service box starts */
@media only screen and (min-width: 1366px) {

    .service-title-box {
        position: sticky;
        top: 5rem;
        padding-left: 2rem;
        padding-top: 1rem;
        z-index: 3;
        background-color: transparent;
        color: #273f5b;
    }

    .main-hori {
        overflow-x: hidden;
        display: flex;
        position: sticky;
        top: 0;
    }

    .section-hori {
        min-width: 80vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        min-width: 50vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 2rem 2rem;
        margin-left: 13rem;
        margin-top: 13rem;
        margin-bottom: 2rem;
        border-radius: 6px;
        border: 2px dashed #d3d3d3;
    }

    .service-gif {
        height: 12rem;
        position: relative;
        left: 0%;
    }

    .section-hori:last-child {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 1080px) {

    #services {
        border: 1px solid black;
        border-radius: 20px;
        min-height: 100vh;
        overflow: auto;

    }

    .service-title-box {
        padding-left: 2rem;
        padding-top: 1rem;
        background-color: transparent;
        color: #273f5b;
    }

    .service-title-box h1 {
        font-size: 2rem;
        width: 90%;
    }

    .main-hori {
        padding: 3% 5%;
    }

    .section-hori {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 3% 2%;
        margin-bottom: 2rem;
        border-radius: 6px;
        border: 2px dashed #d3d3d3;
    }

    .service h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 1.5rem;
        line-height: 1;
        color: #273f5b;
        padding: 2% 0%;
    }

    .service p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .service-gif {
        height: 10rem;
        left: 0%;
    }

}

/* worked box */
/* worked box starts */

@media only screen and (min-width: 1366px) {

#worked {
    height: 50%;
    text-align: left;
    background-color: #fff;
    padding: 6% 3%;
}

.worked-title {
    color: #273f5b;
    padding: 1% 3% 2%;
}

.worked-box{
    padding: 2% 6%;
}

.worked-party {
    width: 100%;
    font-size: 1.5rem;
    filter: grayscale(100%);
    padding: 3%;
}

.worked-party:hover {
    filter: grayscale(0%);
    font-size: 1.6rem;
}

}

@media only screen and (max-width: 1080px) {
    #worked {
        height: 50%;
        text-align: left;
        background-color: #fff;
        padding: 1% 1%;
    }

    .worked-title {
        color: #273f5b;
        padding: 3% 3%;
    }

    .worked-party {
        width: 100%;
        padding: 1% 1%;
        margin: 1rem;
    }
}

/* grid box */
/* grid box starts */

@media only screen and (min-width: 1366px) {


    .section-work-data {
        background-color: #081247;
        text-align: center;
        transition: all 0.7s linear;
        color: white;
    }

    .counter {
        padding: 4rem 0 2rem;
        overflow: hidden;
    }

    .counter-numbers {
        font-size: 3.8rem;
    }

    .section-work-data p {
        color: white;
        text-transform: capitalize;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    #particles-js {
        height: 50vh;
        width: 100vw;
        transform: translateY(-14rem);
        margin-bottom: -20rem;
    }
}

@media only screen and (max-width: 1080px) {

    .section-work-data {
        background-color: #273f5b;
        text-align: center;
        transition: all 0.7s linear;
        color: white;
        padding: 3% 2%;
    }

    .counter-numbers {
        font-size: 2.5rem;
        padding: 15% 2%;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    #particles-js {
        height: 25vh;
        width: 100vw;
        margin-bottom: -10rem;
        transform: translateY(-15rem);
    }

}


@media only screen and (min-width: 1366px) {

    #title-banner,
    #contact-form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-banner {
        background-color: #fff;
    }

    .contact-form-box {
        border: 2px dashed black;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1% 2%;
    }

    .contact-logo {
        color: #273f5b;
        display: flex;
        align-items: center !important;
        justify-content: center;
        font-size: 10rem;
    }

    .contact-form {
        padding: 1% 15%;
    }

    .form-label {
        color: #273f5b;
        font-weight: bold;
    }

    .contact-form input,
    .contact-form textarea {
        border: 2px dotted #0083ff;
        border-radius: 3px;
    }
}


@media only screen and (max-width: 1080px) {

    #title-banner,
    #contact-form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-banner {
        background-color: #fff;
    }

    .contact-form-box {
        border: 2px dashed black;
        border-radius: 50px;
        padding: 2% 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 90vh;
    }

    .contact-logo {
        color: #273f5b;
        font-size: 9rem;
        display: flex;
        align-items: center !important;
        justify-content: center;
    }

    .contact-form {
        padding: 1% 10% 2%;
    }

}

#footer{
    height: 100vh;
    padding: 6% 3% 1%;
    background-color: #ecf5fe;
    color: #273f5b!important;
}




/* features box
/*  starts from here */

/* #features {
    margin-top: 9vh;
    background-color: white;
    padding: 2% 5%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon60 {
    width: 60%;
    padding-bottom: 1rem;
}

.arrow {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.arrow:hover {
    border: solid 1px #000;
    border-radius: 50%;
}

.arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: #000;
    width: 20px;
    height: 15px;
    top: 0px;
    border-bottom: solid 2px;
    transform: translatex(-8px);
}

.arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: #000;
    width: 8px;
    height: 9px;
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    right: -5px;
    transform-origin: 0% 0%;
    transform: rotatez(135deg);

} */