body {
    background-color: #F7F9FB;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (min-width: 1366px) {
    .cursor {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        background: transparent;
        pointer-events: none;
        z-index: 111;
        border: 3px solid black;
        transition: all 0.2s ease-out;
        animation: moveCursor1 .5s infinite alternate;
    }

    .expand {
        background: transparent;
        animation: moveCursor2 .5s forwards;
        border: 1px solid white;
    }

    @keyframes moveCursor1 {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(.8);
        }
    }
}


@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media only screen and (max-width: 1080px) {
    .cursor {
        display: none;
    }

    .expand {
        display: none;
    }
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    height: 50px;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
}


h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    background-image: url("/giphy.webp");
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

a {
    color: #c1c1c1;
}

.brand-logo {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: #1C1124 !important;
    padding: 1% 3%;
}

.brand-logo img {
    height: 35px;
    width: 45px;
}

#preloader {
    background: #000 url(/loader.webp) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


@media only screen and (min-width: 1366px) {
    #navbar {
        align-items: center;
    }

    .navbar {
        z-index: 99;
        position: fixed;
        left: 0;
        background: transparent !important;
        backdrop-filter: blur(20px) !important;
        width: 100%;
        height: 50px;
        border-bottom: 1.3px solid #1C1124;
    }

    .nav-link {
        color: #1C1124 !important;
    }

    .expertise {
        color: #3DC2CC !important;
    }

    #navbar ul {
        padding: 1% 0%;
    }

    #navbar ul li {
        font-weight: 400;
    }

    #navbar .col-lg-2 {
        width: 20%;
    }

    .dropdown-menu {
        display: block;
        transform: translateY(-50rem);
        left: 0;
        transition: all 0.5s;
        background-color: #F7F9FB;
        border-bottom: 1px solid black;
        border-radius: 50px;
    }

    .dropdown-hover:hover>.dropdown-menu {
        display: inline-block;
        left: 0;
        transform: translateY(10px);
    }

    .dropdown-hover .list-group-item {
        background-color: #3DC2CC;
        color: #F7F9FB !important;
        font-weight: 500;
    }

    .list-group-item:hover {
        transform: translateX(10px);
    }

    .list-group-item:last-child {
        border-bottom: 1px solid transparent;
        border-bottom-left-radius: 50px;
    }
}

@media only screen and (max-width: 1080px) {

    #navbar {
        padding: 0% 6%;
    }

    .nav-link {
        color: #1C1124 !important;
    }

    .expertise {
        color: #3DC2CC !important;
    }

    .navbar {
        z-index: 99;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        background: transparent !important;
        backdrop-filter: blur(20px) !important;
        width: 100%;
        height: 40px;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .navbar ul {
        padding: 4% 1%;
        background-color: #F7F9FB;
    }
    
    .navbar ul li {
        font-size: 1rem;
        padding: 2% 2%;
        border-radius: 3%;
        margin-bottom: 2%;
        border-bottom: 1px solid black;
    }

    .navbar-collapse {
        background-color: #F7F9FB;
    }

    .dropdown-menu {
        height: 400px;
        overflow: auto;
        background-color: #99e2e7;
        color: #F7F9FB !important;
        padding: 0% 4%;
        border-radius: 25px;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    .dropdown-hover>.dropdown-toggle:active {
        pointer-events: none;
    }
    
    .list-group-item {
        background-color: #F7F9FB;
    }
    
    .list-group-item:last-child {
        border-bottom: 1px solid transparent;
        border-bottom-left-radius: 50px;
    }
}



/* hero section */
/* hero section starts from here */

@media only screen and (min-width: 1366px) {
    #hero {
        background: url("/pattern.svg");
        background-size: fill;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 0% 0% 2%;
        border: 1px solid transparent;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    #hero .container {
        padding: 4% 2% 2% 2%;
    }

    .carousel-item {
        height: 90vh;
    }

    .title {
        /* color: #273f5b; */
        padding: 10% 1% 1% 1%;
    }

    .title-img {
        width: 100%;
        padding: 1% 5% 3% 3%;
        /* opacity: 90%;     */
    }

    #hero h1 {
        font-size: 4rem;
        line-height: 1.4;
    }

    #hero .small-heading {
        font-size: 3rem;
        line-height: 1.1;
    }

    #hero .small-para {
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
        padding: 1% 15% 0% 0%;
    }

    #hero p {
        font-size: 0.9rem;
        line-height: 1.2;
        padding: 1% 30% 0% 1%;
    }

    .turn-down-arrow {
        height: 3rem;
        padding-left: 0;
        padding-top: 0.5rem;
    }

    #hero .carousel-control-prev {
        height: 20px;
    }

    #hero .carousel-control-next {
        height: 20px;
    }

    #hero .carousel-control-next-icon {
        position: absolute;
        top: 90vh;
        right: 10%;
        height: 3rem;
        width: 3rem;
        background-image: url(/right-arrow-new.png);
        border: 1px solid #000;
        border-radius: 50%;
        transform: translateX(-20rem);
    }

    #hero .carousel-control-prev-icon {
        position: absolute;
        top: 90vh;
        left: 10%;
        height: 3rem;
        width: 3rem;
        background-image: url(/left-arrow-new.png);
        border: 1px solid #000;
        border-radius: 100%;
        transform: translateX(54rem);
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

}

@media only screen and (max-width: 1080px) {

    #hero {
        background: url("/pattern.svg");
        background-size: cover;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    #hero .container {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 75vh;
        padding: 15% 2% 2%;
    }

    .turn-down-arrow {
        height: 2rem;
        padding-left: 0;
        padding-top: 0.2rem;
    }

    #hero h1 {
        /* font-family: sans-serif; */
        /* font-weight: bolder; */
        font-size: 2.3rem;
        line-height: 1.2;
        text-align: left;
        /* padding: 2% 5%; */
        padding: 2% 4% 0%;
    }

    #hero .small-heading {
        font-size: 1.5rem;
    }

    #hero .small-para {
        font-size: 0.75rem;
        letter-spacing: 1px;
    }

    #hero p {
        font-size: 0.7rem;
        letter-spacing: 2px;
        line-height: 1.5;
        text-align: center;
    }

    .carousel-item{
        padding: 3% 5%;
    }

    .btn-hero {
        font-size: 0.7rem;
        margin-left: 1rem;
    }

    .title-img {
        /* padding: 2% 4% 0%; */
        display: flex;
        justify-content: right;
        align-items: right;
    }

    .carousel-indicators {
        transform: translateY(3rem);
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }


}

/* objective start */

@media only screen and (min-width: 1366px) {

    #objective {
        height: 100vh;
        padding: 5% 7%;
    }

    .main-objective {
        padding: 3% 5%;
        display: flex;
    }

    .mission {
        background-color: #212121;
        color: white;
        height: 70vh;
        border-top-left-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(/vison-ai.webp);
        background-size: contain;
        background-blend-mode: overlay;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .mission h2,
    .vision h2 {
        padding-bottom: 10%;
    }

    .vision {
        background-color: #99e2e7;
        height: 70vh;
        border-bottom-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(/mission.webp);
        background-size: contain;
        background-blend-mode: overlay;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .text-objective {
        padding: 0% 3%;
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 1080px) {
    #objective {
        height: 50vh;
        padding: 10% 5% 4%;
    }

    .main-objective {
        padding: 3% 2%;
        /* display: flex; */
    }

    .mission {
        background-color: #212121;
        color: white;
        height: 30vh;
        width: 50%;
        padding: 4% 5%;
        border-top-left-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(/vison-ai.webp);
        background-size: contain;
        background-blend-mode: overlay;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    
    .mission h2{
        padding-bottom: 10%;
        font-size: 0.8rem;
    }

    .vision h2 {
        padding-bottom: 8%;
        font-size: 0.8rem;
    }
    
    .vision {
        background-color: #99e2e7;
        height: 30vh;
        width: 50%;
        border-bottom-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(/mission.webp);
        background-size: contain;
        background-blend-mode: overlay;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    /* .text-objective {
        padding: 2% 3%;
        font-size: 1rem;
        height: 15vh;
    } */

    .mission p{
        font-size: 0.8rem;
        padding: 0% 5%;
    }

    .vision p{
        font-size: 0.8rem;
        padding: 1% 3%;
    }
}



/* timeline start */
/* timeline start box */

@media only screen and (min-width: 1366px) {

    #experience {
        padding: 5% 5%;
    }

    ul.timeline-list {
        background-color: #99e2e7;
        position: relative;
        margin: 0;
        padding: 5% 3%;
        border-radius: 50px;
    }

    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
        width: 100%;
        /* border: 1px solid red; */
        padding: 4% 4%;
    }

    ul.timeline-list p {
        color: #F7F9FB !important;
    }


    ul.timeline-list li.timeline_content {
        padding: 1% 3% 0%;
        float: left;
        text-align: center;
    }

    ul.timeline-list li:nth-child(2n) .timeline_content {
        color: #fff;
        float: left;
        text-align: center;
    }

    .timeline_content h1,
    .service h1 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .content-box {
        text-align: center;
        justify-content: center;
    }

    .content-box img {
        background-color: transparent;
        border: 1px solid #F7F9FB;
        border-radius: 10%;
        height: 25rem;
        width: 80%;
        animation: mover 1s infinite alternate;
    }
}

@media only screen and (max-width: 1080px) {

    #experience {
        background-color: #99e2e7;
        padding: 6% 2%;
        border-radius: 50px;
        margin-top: 60px;
    }

    .content-box h1{
        font-size: 1.5rem;
        padding: 2% 5%;
    }

    #experience .row {
        background-color: #99e2e7;
        border-radius: 25px;
    }

    ul.timeline-list {
        margin: 0;
        padding: 5% 3%;
    }

    ul.timeline-list li {
        clear: both;
    }

    .content-box h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .content-box p {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .content-box {
        border-radius: 5px;
    }

    ul.timeline-list li .content-box {
        color: #99e2e7;
        padding: 1% 3% 0%;
        float: left;
        text-align: center;
    }

    ul.timeline-list li:nth-child(2n) .content-box {
        color: #000;
        float: left;
        text-align: center;
    }

    .content-box .row {
        display: grid;
    }

    .image-class {
        order: -1;
    }

    .content-box {
        padding: 5% 1%;
        color: #000!important;
    }

    .content-box img {
        background-color: transparent;
        border: 1px solid #F7F9FB;
        border-radius: 10%;
        /* height: 15rem; */
        width: 60%;
        animation: mover 1s infinite alternate;
    }

    ul.timeline-list li::marker{
        content: "";
    }

}

/* service box */
/* service box starts */
@media only screen and (min-width: 1366px) {

    #services {
        padding: 5% 0% 0%;
    }

    .service-title-box {
        z-index: 3;
        background-color: transparent;
        position: sticky;
        top: 9vh;
    }

    .service-title {
        font-size: 2.2rem;
    }

    .main-hori {
        overflow-x: hidden;
        display: flex;
        position: sticky;
        top: 30vh;
    }

    .section-hori {
        padding: 2% 0%;
        min-width: 65vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        min-width: 65vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 2% 2%;
        margin-left: 12rem;
        border-radius: 40px;
        border: 1px solid #d3d3d3;
        background: url(/pattern.svg);
        background-size: cover;
        background-position: 3vh;
    }
    .service-gif {
        width: 20rem;
        animation: mover 1s infinite alternate;
    }
}

@media only screen and (max-width: 1080px) {

    #services {
        margin-top: 50px;
        border: 1px solid black;
        border-radius: 50px;
        min-height: 100vh;
        overflow: auto;
        padding: 5% 0%;
    }

    .service-title-box {
        padding-left: 2rem;
        padding-top: 1rem;
        background-color: transparent;
    }

    .service-title-box h1 {
        font-size: 2rem;
        /* width: 90%; */
    }

    .main-hori {
        padding: 3% 5%;
    }

    .section-hori {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 4%;
        margin-bottom: 2rem;
        border-radius: 25px;
        border: 1px solid whitesmoke;
        background: url(/pattern.svg);
        background-size: cover;
        background-position: 3vh;
    }

    .service h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 1.5rem;
        line-height: 1;
        padding: 2% 0%;
    }

    .service p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
    }

    .service-gif {
        width: 10rem;
        animation: mover 1s infinite alternate;
    }

}

/* worked box */
/* worked box starts */

@media only screen and (min-width: 1366px) {

    #worked {
        height: 61vh;
        text-align: left;
        background-color: #99e2e7;
        padding: 1% 0% 3%;
        margin-top: 60px;
        overflow: hidden;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    .worked-title {
        padding: 4% 1%;
    }

    .marquee-list {
        background-color: #F7F9FB;
        border-top: #000 2px solid;
        border-bottom: #000 2px solid;
        width: fit-content;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        padding: 3rem 0rem;
        -webkit-animation: marquee 15s linear infinite running;
        -moz-animation: marquee 15s linear infinite running;
        -o-animation: marquee 15s linear infinite running;
        -ms-animation: marquee 15s linear infinite running;
        animation: marquee 15s linear infinite running;
    }

    .marquee-list ul {
        background-color: #F7F9FB;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .marquee-list:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
        animation-play-state: paused;
    }

    .marquee-list li {
        min-width: fit-content;
        white-space: nowrap;
        text-align: center;
        padding: 0 2rem;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        white-space: nowrap;
        color: #000;
    }

    /* .marquee-list li:before {
        position: absolute;
        left: -2px;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 100%;
        content: "";
        margin: auto 0;
        top: 0;
        bottom: 0;
    } */
    .marquee-list li:after {
        position: relative;
        left: 5%;
        width: 4px;
        content: "EDV";
        font-size: 16px;
        top: 0;
        bottom: 0;
    }

    @-moz-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-o-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

}

@media only screen and (max-width: 1080px) {
    #worked {
        height: 80%;
        text-align: left;
        padding: 3% 0% 6%;
        overflow: hidden;
        background-color: #99e2e7;
        margin-top: 60px;
    }

    .worked-title {
        font-size: 1.8rem;
        padding: 3% 7% 3%;
    }

    .marquee-list {
        background-color: #F7F9FB;
        border-top: #000 2px solid;
        border-bottom: #000 2px solid;
        width: fit-content;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        padding: 1% 1%;
        -webkit-animation: marquee 15s linear infinite running;
        -moz-animation: marquee 15s linear infinite running;
        -o-animation: marquee 15s linear infinite running;
        -ms-animation: marquee 15s linear infinite running;
        animation: marquee 15s linear infinite running;
    }

    .marquee-list ul {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        margin-bottom: 0;
    }

    .marquee-list:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
        animation-play-state: paused;
    }

    .marquee-list li {
        color: #000;
        min-width: fit-content;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0;
        padding: 0rem 1rem;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
        white-space: nowrap;
    }

    /* 
    .marquee-list li:before {
        position: absolute;
        left: -2px;
        width: 4px;
        height: 4px;
        background: #0FFF50;
        border-radius: 100%;
        content: "";
        margin: auto 0;
        top: 0;
        bottom: 0;
    } */

    .marquee-list li:after {
        position: relative;
        left: 3%;
        width: 4px;
        content: "EDV";
        font-size: 10px;
        top: 0;
        bottom: 0;
    }

    @-moz-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-o-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

}



/* grid box */
/* grid box starts */

@media only screen and (min-width: 1366px) {

    .section-work-data {
        background-color: #99e2e7;
        text-align: center;
        transition: all 0.7s linear;
        color: #000;
    }

    .counter {
        padding: 4rem 0 2rem;
        overflow: hidden;
    }

    .counter-numbers {
        font-size: 3.8rem;
    }

    .section-work-data p {
        color: #000;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 1080px) {
    .section-work-data {
        background-color: #99e2e7;
        text-align: center;
        transition: all 0.7s linear;
        color: #212121;
        padding: 3% 2%;
        border-radius: 25px;
    }

    .counter-numbers {
        font-size: 2.5rem;
        padding: 15% 2%;
    }
    .section-work-data p {
        color: #000;
        text-transform: capitalize;
    }

}


@media only screen and (min-width: 1366px) {

    #title-banner,
    #contact-form {
        height: 100vh;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #title-banner {
        background-color: #fff;
    }

    .contact-form-box {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding: 1% 2%;
    }

    .contact-logo {
        display: flex;
        align-items: left !important;
        justify-content: left;
        font-size: 3rem;
    }
    
    .contact-form {
        /* padding: 2% 10%; */
        display: flex;
        float: right;
    }

    .form-label {
        font-weight: bold;
    }

    .contact-form input,
    .contact-form textarea {
        border: 2px solid white;
        border-radius: 25px;
    }

    #banner a:hover {
        background-color: #e9ecef !important;
        color: #000 !important;
    }

    .box1 {
        content: "";
        background-color: #273f5b;
        height: 200px;
        width: 200px;
    }
    .box2 {
        content: "";
        background-color: #E94057;
        height: 200px;
        width: 200px;
        border-top-right-radius: 100%;  
    }
    .box3 {
        content: "";
        background-color: #273f5b;
        height: 200px;
        width: 200px;
        border-bottom-left-radius: 100%;
    }
    .box4 {
        content: "";
        background-color: #3DC2CC;
        height: 200px;
        width: 200px;
    }

    .banner-image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 3% 10%;
    }

    .banner-image-box-ecom{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3% 1% 0%;
    }
    
    .banner-image{
        /* height: 50vh; */
        width: 45%;
    }
}


@media only screen and (max-width: 1080px) {

    #title-banner,
    #contact-form {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-banner {
        background-color: #F7F9FB;
    }

    .contact-form-box {
        border: 2px dashed black;
        border-radius: 50px;
        padding: 2% 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 90vh;
    }

    .contact-logo {
        font-size: 9rem;
        display: flex;
        align-items: center !important;
        justify-content: center;
    }

    .contact-form {
        padding: 1% 10% 2%;
    }

    .banner-image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 3% 10%;
    }

    .banner-image-box-ecom{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3% 1% 0%;
    }
    
    .banner-image{
        /* height: 50vh; */
        width: 100%;
    }

}

/* blog section */
/* blog section starts */

/* medium and up screens */
@media only screen and (min-width: 1366px) {
    #blogs {
        height: 100vh;
        padding: 5% 2%;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    .blog-title {
        padding: 1% 3%;
    }

    .blog-inner {
        padding: 2% 1% 2%;
    }

    #blogs .carousel-control-prev {
        height: 20px;
    }

    #blogs .carousel-control-next {
        height: 20px;
    }

    #blogs .carousel-control-next-icon {
        position: absolute;
        top: 60vh;
        background-image: url(/right-arrow-new.png);
        border: 2px solid black;
        border-radius: 50%;
        transform: translateX(-100%);
    }

    #blogs .carousel-control-prev-icon {
        position: absolute;
        top: 60vh;
        background-image: url(/left-arrow-new.png);
        border: 2px solid black;
        border-radius: 100%;
        transform: translateX(50%);
    }

    #blogs .card,
    #banner .card {
        width: 18rem;
        border-radius: 45px;
        background-color: #F7F9FB;
        border: 1px solid black;
    }

    #blogs h2 {
        letter-spacing: 0px;
        font-size: 1rem;
    }

    #blogs .card:hover,
    #banner .card:hover {
        transform: translateY(-5px);
        border-bottom: 5px solid #0083ff;
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

    .card-img-top {
        animation: mover 1s infinite alternate;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.3;
    }

}

@media only screen and (max-width: 1080px) {
    #blogs {
        height: 65vh;
        padding: 10% 1% 0%;
        text-align: center;
        background-color: #F7F9FB;
    }

    .blog-title {
        padding: 4% 0% 2%;
        font-size: 1.7rem;
    }

    .blog-inner {
        padding: 4% 3.5% 4% 6%;
    }

    #blogs .card,
    #banner .card {
        background-color: #F7F9FB;
        border: 1px solid black;
        width: 16rem;
        border-radius: 25px;
        border-bottom: 5px solid #0083ff;
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.3;
    }


}

@media only screen and (min-width: 1366px) {
    #banner {
        padding: 3% 2%;
        margin-bottom: 50px;
        background-color: #99e2e7;
        height: 70vh;
        width: 100%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #banner1{
        padding: 7% 2%;
        border-radius: 50px !important;
    }

}

@media only screen and (max-width: 1080px) {

    #banner {
        padding: 20% 2% 0%;
        background-color: #99e2e7;
        height: 40vh;
        width: 100%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #banner1{
        padding: 7% 2%;
        border-radius: 50px !important;
    }
}




@media only screen and (min-width: 1366px) {

    #testimonial {
        padding-top: 2%!important;
        background-color: #e9ecef;
        border-radius: 45px;
    }

    .testimonial-box {
        padding: 2% 7%;
    }

    #testimonial .card {
        border-radius: 25px;
    }

    #testimonial .card:hover {
        transform: translateY(-10px);
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

}

@media only screen and (max-width: 1080px) {
    #testimonial {
        background-color: #e9ecef;
        border-radius: 50px;
        /* padding-top: 0%!important; */
        margin-bottom: 60px;
        padding: 0% 3% 10%;
    }

    .testimonial-box {
        height: 100vh;
        overflow: scroll;
        padding: 6% 5%;
        border: 1px solid black;
        border-radius: 5%;
    }

    .testimonial-card{
        padding: 10% 5%;
    }

    #testimonial .card {
        padding: 10%;
        width: 90%;
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

    blockquote p{
        font-size: 0.9rem;
    }
}
/* footer section */
/* footer section starts */

@media only screen and (min-width: 1366px) {
    #footer {
        height: 100vh;
        padding: 3% 3% 2%;
        color: #000 !important;
        background: url("/pattern.svg");
        background-size: fill;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .footer-brand{
        font-size: 2rem;
    }

    .footer-email{
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        border-bottom: 1px solid black;
   }
}

@media only screen and (max-width: 1080px) {
    #footer{
        background-color: #F7F9FB!important;
        font-size: 0.8rem;
    }

    .image-footer {
        display: none;
    }

    .footer-brand{
        font-size: 1.5rem;
    }

    .footer-email{
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        border-bottom: 1px solid black;
   }

}


@media only screen and (min-width: 1366px) {
    .mobile{
        display: none!important;
    }
    
    #ecomerce {
        border: 1px solid #3DC2CC;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: white;
        border-top: 0px;
        background-image: url("/pattern.svg");
        background-size: cover;
        background-position: 50vh;
        /* background-repeat: no-repeat; */
    }

    #nav-tab .nav-link {
        width: 11%;
    }

    .ecomerce-nav-box {
        /* background-color: white; */
        color: #fff !important;

    }

    #nav-tab .active {
        /* background-color: #31d2f2; */
        background-color: #F7F9FB;
        border: 1px solid #3DC2CC;

    }

    #nav-tab .nav-link:hover {
        background-color: #3DC2CC;
        color: white !important;
    }

    .ecomerce-content-box {
        height: 50vh;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */

    }
}

@media only screen and (max-width: 1080px) {
    
    .desktop{
        display: none;
    }

    .mobile{
        /* border: 1px solid black; */
        display: flex!important;
    }
    
    #ecomerce {
        /* border: 1px solid #3DC2CC; */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: white;
        border-top: 0px;
        padding: 10% 6%;
    }

    .nav-box{
        width: 40%;
    }

    #nav-tab .nav-link {
        width: 100%;
        padding: 2% 2%;
        margin-bottom: 10px;
        border: 1px solid black;
    }

    .ecomerce-nav-box {
        color: #fff !important;
    }
    
    #nav-tab .active {
        background-color: #3DC2CC;
        color: #F7F9FB!important;
        border: 1px solid #F7F9FB;
        width: 100%;
    }

    .ecomerce-content-box {
        height: 60vh;
        width: 50vw;
        padding: 10% 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .digital-content-box{
        height: 70vh;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .digital-content-box p{
        padding: 2% 6% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1366px) {

    #accordionExample {
        padding: 0% 5%;
    }

    .accordion-item {
        border: 1px solid black !important;
        border-radius: 10px !important;
        box-shadow: 10px 10px 0 5px #d1fbff;
    }

    .accordion-button::after {
        background-size: 3vh;
        background-position: center;
        border: 1px solid #000;
        border-radius: 10px;
        height: 50px;
        width: 100px;
    }

    .accordion-button:focus,
    .accordion-button:active {
        outline: none !important;
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: #000;
        text-decoration: underline;
    }

    .accordion-button:not(.collapsed)::after {
        background-size: 3vh;
        background-position: center;
        border: 1px solid #000;
        border-radius: 10px;
        height: 50px;
        width: 100px;
    }

    .accordion-body {
        padding: 3% 7%;
    }

}

#opening-box {
    height: 100vh;
    padding: 5% 5%;
}

.opening-container {
    height: 50vh;
}

.opening-item {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-item:hover {
    transform: translateY(-5px);
    border-bottom: 5px solid #0083ff;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    text-decoration: underline;
}

.culture{
    background-color: #3DC2CC;
    color: #F7F9FB;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 2% 5%;
}


