body {
    background-color: #000;
}

@media only screen and (min-width: 1366px) {
    .cursor {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        background: transparent;
        pointer-events: none;
        z-index: 111;
        border: 3px solid white;
        transition: all 0.2s ease-out;
        animation: moveCursor1 .5s infinite alternate;
    }
    
    .expand {
        background: transparent;
        animation: moveCursor2 .5s forwards;
        border: 1px solid #000;
    }
    
    @keyframes moveCursor1 {
        from {
            transform: scale(1);
        }
    
        to {
            transform: scale(.8);
        }
    }
}


@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media only screen and (max-width: 1080px) {
    .cursor{
        display: none;
    }
    .expand{
        display: none;
    }
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    height: 50px;
    border: 1px solid white;
    border-bottom-left-radius: 3px;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    letter-spacing: 3px;
    background-image: url(/giphy.webp);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    color: white;
}

a {
    color: white !important;
}

.brand-logo {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    padding: 1% 3%;
}

#preloader {
    background: #000 url(/loader.webp) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


@media only screen and (min-width: 1366px) {
    #navbar {
        align-items: center;
    }
    
    .navbar {
        z-index: 99;
        position: fixed;
        left: 0;
        background: transparent !important;
        backdrop-filter: blur(20px) !important;
        width: 100%;
        height: 50px;
    }

    #navbar ul {
        padding: 1% 0%;
    }

    #navbar ul li {
        margin-right: 2.5rem;
    }

    #navbar .col-lg-2 {
        width: 20%;
    }

    .dropdown-menu {
        display: block;
        transform: translateY(-50rem);
        left: 0;
        transition: all 0.5s;
        background-color: #000;
    }

    .dropdown-hover:hover>.dropdown-menu {
        display: inline-block;
        left: 0;
        transform: translateY(10px);
    }

    .dropdown-hover .list-group-item {
        background-color: #000;
    }

    .list-group-item:hover {
        transform: translateX(10px);
    }
}

@media only screen and (max-width: 1080px) {

    #navbar {
        padding: 0% 6%;
    }

    .navbar {
        z-index: 99;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        background: transparent !important;
        backdrop-filter: blur(20px) !important;
        width: 100%;
        height: 40px;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .navbar ul {
        padding: 2% 1%;
        background-color: #000;
    }

    .navbar ul li {
        font-size: 1rem;
        padding: 2% 2%;
        border-radius: 3%;
        margin-bottom: 2%;
    }

    .navbar ul li {
        border: 2px dashed #d3d3d3;
    }

    .navbar-collapse {
        background-color: #000;
    }

    .dropdown-menu {
        height: 350px;
        overflow: auto;
        background-color: #000;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url(/right-arrow.webp);
    }
}

.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
}

.list-group-item {
    background-color: #000;
}


/* hero section */
/* hero section starts from here */

@media only screen and (min-width: 1366px) {

    #hero .container {
        padding: 4% 3% 3%;
    }

    .opaque {
        position: absolute;
        top: 15vh;
        left: 10vh;
        right: 0;
        bottom: 0;
        width: 70vw;
        border: 1px solid transparent;
        border-radius: 50px;
        background: url(/some1.webp) no-repeat;
        background-size: cover;
        filter: blur(70px);
        z-index: -1;
    }

    .carousel-item {
        height: 90vh;
    }

    .title {
        color: #273f5b;
        padding: 2% 1% 1% 1%;
    }

    .title-img {
        width: 100%;
        padding: 8% 5% 5% 8%;
        opacity: 85%;
    }

    #hero h1 {
        font-size: 4rem;
        line-height: 1.4;
    }

    #hero .small-heading {
        font-size: 3rem;
        line-height: 1.1;
    }

    #hero .small-para {
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
        padding: 1% 15% 0% 0%;
    }

    #hero p {
        font-size: 0.9rem;
        line-height: 1.2;
        padding: 1% 30% 0% 1%;
    }

    .turn-down-arrow {
        height: 3rem;
        padding-left: 0;
        padding-top: 0.5rem;
    }

    #hero .carousel-control-prev {
        height: 20px;
    }

    #hero .carousel-control-next {
        height: 20px;
    }

    #hero .carousel-control-next-icon {
        position: absolute;
        top: 80vh;
        right: 10%;
        width: 30%;
        background-image: url(/right-arrow.webp);
        border: 2px solid white;
        border-radius: 50%;
        transform: translateX(-28rem);
    }

    #hero .carousel-control-prev-icon {
        position: absolute;
        top: 80vh;
        left: 10%;
        width: 30%;
        background-image: url(/left-arrow.webp);
        border: 2px solid white;
        border-radius: 100%;
        transform: translateX(54rem);
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

}

@media only screen and (max-width: 1080px) {

    #hero .container {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 100vh;
        padding: 15% 2% 2%;
    }

    .opaque {
        position: absolute;
        top: 4vh;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 80vh;
        border: 1px solid transparent;
        border-radius: 50px;
        background: url(/some1.webp) no-repeat;
        background-size: cover;
        filter: blur(70px);
        z-index: -1;
    }

    .turn-down-arrow {
        height: 2.3rem;
        padding-left: 0;
        padding-top: 0.2rem;
    }

    #hero h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 3rem;
        line-height: 1.2;
        text-align: center;
    }

    #hero .small-heading {
        font-size: 1.5rem;
    }

    #hero .small-para {
        font-size: 0.75rem;
        letter-spacing: 1px;
    }

    #hero p {
        font-size: 0.7rem;
        letter-spacing: 2px;
        line-height: 1.5;
        text-align: center;
    }

    .btn-hero {
        font-size: 1rem;
    }

    .title-img {
        padding: 5% 15%;
    }

    .carousel-indicators {
        margin-left: 60vw;
        height: auto;
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    img.title-img {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

}


/* timeline start */
/* timeline start box */

@media only screen and (min-width: 1366px) {

    #experience {
        margin-top: 9vh;
        background-color: white;
        padding: 3% 5%;
    }

    ul.timeline-list {
        background-color: #fff;
        position: relative;
        margin: 0;
        padding: 0
    }

    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        border: 2px dashed #273f5b;
        background-color: #FFFFFF;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }

    .timeline_content {
        border: 3px dashed #d3d3d3;
        border-radius: 5px;
    }

    ul.timeline-list li .timeline_content {
        background-color: #ecf5fe;
        width: 45%;
        color: #273f5b;
        padding: 30px;
        float: left;
        text-align: right;
        -webkit-box-shadow: -13px 17px 29px -20px rgba(176, 170, 176, 1);
        -moz-box-shadow: -13px 17px 29px -20px rgba(176, 170, 176, 1);
        box-shadow: -20px 17px 29px -20px rgba(176, 170, 176, 1);
    }

    ul.timeline-list li:nth-child(2n) .timeline_content {
        background-color: #273f5b;
        color: #ecf5fe;
        float: right;
        text-align: left;
        -webkit-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        -moz-box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
        box-shadow: 32px 30px 45px -32px rgba(176, 170, 176, 1);
    }

    .timeline_content h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 10px 0;
    }

    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: blueviolet;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .timeline_content img {
        height: 15rem;
    }
}

@media only screen and (max-width: 1080px) {

    #experience {
        background-color: white;
        padding: 6% 2%;
    }

    ul.timeline-list {
        background-color: #fff;
        position: relative;
        margin: 0;
        padding: 0;
    }

    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        border: 2px dashed #273f5b;
        background-color: #FFFFFF;
        left: 0;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
        padding: 3% 1% 3% 6%;
    }

    .timeline_content {
        border: 1px dashed #081247;
        border-radius: 5px;
    }

    ul.timeline-list li .timeline_content {
        background-color: #ecf5fe;
        color: #273f5b;
        padding: 3% 3%;
        float: left;
        text-align: right;
    }

    ul.timeline-list li:nth-child(2n) .timeline_content {
        background-color: #273f5b;
        color: #ecf5fe;
        border: 1px dashed #081247;
    }

    .timeline_content h4 {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 10px 0;
    }

    .timeline_content p {
        font-size: 0.8rem;
        margin: 10px 0;
    }

    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #0083ff;
        left: 0%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .timeline_content img {
        height: 10rem;
    }

}

/* service box */
/* service box starts */
@media only screen and (min-width: 1366px) {

    .service-title-box {
        position: sticky;
        top: 5rem;
        padding-left: 2rem;
        padding-top: 1rem;
        z-index: 3;
        background-color: transparent;
        color: #273f5b;
    }

    .service-title {
        font-size: 2.2rem;
    }

    .main-hori {
        overflow-x: hidden;
        display: flex;
        position: sticky;
        top: 0;
    }

    .section-hori {
        min-width: 80vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        min-width: 50vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 2rem 2rem;
        margin-left: 13rem;
        margin-top: 13rem;
        margin-bottom: 2rem;
        border-radius: 6px;
        border: 2px dashed #d3d3d3;
    }

    .service-gif {
        height: 12rem;
        position: relative;
        left: 0%;
    }

    .section-hori:last-child {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 1080px) {

    #services {
        border: 1px solid black;
        border-radius: 20px;
        min-height: 100vh;
        overflow: auto;

    }

    .service-title-box {
        padding-left: 2rem;
        padding-top: 1rem;
        background-color: transparent;
        color: #273f5b;
    }

    .service-title-box h1 {
        font-size: 2rem;
        width: 90%;
    }

    .main-hori {
        padding: 3% 5%;
    }

    .section-hori {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service {
        padding: 3% 2%;
        margin-bottom: 2rem;
        border-radius: 6px;
        border: 2px dashed #d3d3d3;
    }

    .service h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 1.5rem;
        line-height: 1;
        color: #273f5b;
        padding: 2% 0%;
    }

    .service p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .service-gif {
        height: 10rem;
        left: 0%;
    }

}

/* worked box */
/* worked box starts */

@media only screen and (min-width: 1366px) {

    #worked {
        height: 50%;
        text-align: left;
        background-color: #000;
        padding: 6% 0%;
        overflow: hidden;
    }

    .worked-title {
        color: #273f5b;
        padding: 1% 3% 2%;
    }

    .marquee-list {
        background-color: #000;
        border-top: #a4a8a7 2px solid;
        border-bottom: #a4a8a7 2px solid;
        width: fit-content;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        padding: 3rem 1px;
        -webkit-animation: marquee 10s linear infinite running;
        -moz-animation: marquee 10s linear infinite running;
        -o-animation: marquee 10s linear infinite running;
        -ms-animation: marquee 10s linear infinite running;
        animation: marquee 10s linear infinite running;
    }

    .marquee-list ul {
        background-color: #000;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 1rem;
    }

    .marquee-list:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
        animation-play-state: paused;
    }

    .marquee-list li {
        min-width: fit-content;
        white-space: nowrap;
        text-align: center;
        padding: 0 2rem;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-box;
        display: inline-flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        white-space: nowrap;
        color: #d3d3d3;
    }

    .marquee-list li:before {
        position: absolute;
        left: -2px;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 100%;
        content: "";
        margin: auto 0;
        top: 0;
        bottom: 0;
    }

    @-moz-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-o-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

}

@media only screen and (max-width: 1080px) {
    #worked {
        height: 25%;
        text-align: left;
        background-color: #fff;
        padding: 10% 0%;
        overflow: hidden;
    }

    .worked-title {
        color: #273f5b;
        padding: 3% 0% 5%;
    }

    .marquee-list {
        background-color: #fff;
        border-top: #a4a8a7 2px solid;
        border-bottom: #a4a8a7 2px solid;
        width: fit-content;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        padding: 1% 1%;
        -webkit-animation: marquee 10s linear infinite running;
        -moz-animation: marquee 10s linear infinite running;
        -o-animation: marquee 10s linear infinite running;
        -ms-animation: marquee 10s linear infinite running;
        animation: marquee 10s linear infinite running;
    }

    .marquee-list ul {
        background-color: #fff;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        margin-bottom: 0;
    }

    .marquee-list:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
        animation-play-state: paused;
    }

    .marquee-list li {
        min-width: fit-content;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 0;
        padding: 0rem 1rem;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
        white-space: nowrap;
    }

    .marquee-list li:before {
        position: absolute;
        left: -2px;
        width: 4px;
        height: 4px;
        background: #000;
        border-radius: 100%;
        content: "";
        margin: auto 0;
        top: 0;
        bottom: 0;
    }

    @-moz-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @-o-keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

        100% {
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -o-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
        }
    }

}



/* grid box */
/* grid box starts */

@media only screen and (min-width: 1366px) {


    .section-work-data {
        background-color: #fff;
        text-align: center;
        transition: all 0.7s linear;
        color: #000;
    }

    .counter {
        padding: 4rem 0 2rem;
        overflow: hidden;
    }

    .counter-numbers {
        font-size: 3.8rem;
    }

    .section-work-data p {
        color: #000;
        text-transform: capitalize;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    #particles-js {
        height: 50vh;
        width: 100vw;
        transform: translateY(-14rem);
        margin-bottom: -20rem;
    }
}

@media only screen and (max-width: 1080px) {

    .section-work-data {
        background-color: #000;
        text-align: center;
        transition: all 0.7s linear;
        color: white;
        padding: 3% 2%;
    }

    .counter-numbers {
        font-size: 2.5rem;
        padding: 15% 2%;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    #particles-js {
        height: 30vh;
        margin-bottom: -10rem;
        transform: translateY(-15rem);
    }

}


@media only screen and (min-width: 1366px) {

    #title-banner,
    #contact-form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-banner {
        background-color: #fff;
    }

    .contact-form-box {
        border: 2px dashed black;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1% 2%;
    }

    .contact-logo {
        color: #273f5b;
        display: flex;
        align-items: center !important;
        justify-content: center;
        font-size: 10rem;
    }

    .contact-form {
        padding: 1% 15%;
    }

    .form-label {
        color: #273f5b;
        font-weight: bold;
    }

    .contact-form input,
    .contact-form textarea {
        border: 2px dotted #0083ff;
        border-radius: 3px;
    }
}


@media only screen and (max-width: 1080px) {

    #title-banner,
    #contact-form {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-banner {
        background-color: #fff;
    }

    .contact-form-box {
        border: 2px dashed black;
        border-radius: 50px;
        padding: 2% 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 90vh;
    }

    .contact-logo {
        color: #273f5b;
        font-size: 9rem;
        display: flex;
        align-items: center !important;
        justify-content: center;
    }

    .contact-form {
        padding: 1% 10% 2%;
    }

}

/* blog section */
/* blog section starts */

/* medium and up screens */
@media only screen and (min-width: 1366px) {
    #blogs {
        height: 110vh;
        padding: 1% 1%;
        background-color: #000;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    .blog-title {
        color: #273f5b;
        padding: 3% 3%;
    }

    .blog-inner {
        padding: 1% 1%;
    }

    #blogs .carousel-control-next-icon {
        position: absolute;
        top: 30vh;
        right: 0%;
        filter: invert(100%);
    }

    #blogs .carousel-control-prev-icon {
        position: absolute;
        top: 30vh;
        left: 0%;
        filter: invert(100%);
    }

    #blogs .card {
        width: 18rem;
    }

    #blogs .card:hover {
        transform: translateY(-5px);
        border-bottom: 5px solid #0083ff;
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 1080px) {
    #blogs {
        height: 110vh;
        padding: 6% 4% 5%;
        background-color: #ecf5fe;
        text-align: center;
    }

    .blog-title {
        color: #273f5b;
        padding: 6% 0%;
        font-size: 1.7rem;
    }

    .blog-inner {
        padding: 4% 3.5% 10% 6%;
    }

    #blogs .card {
        width: 18rem;
        border: 1px solid black;
        border-bottom: 5px solid #0083ff;
        box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    }

    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 1366px) {

    #testimonial {
        background-color: #fff;
    }

    .testimonial-title {
        color: #273f5b;
    }

    .testimonial-box {
        padding: 2% 3%;
    }

    #testimonial .card:hover {
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

}

@media only screen and (max-width: 1080px) {
    #testimonial {
        background-color: #fff;
    }

    .testimonial-box {
        height: 100vh;
        overflow: scroll;
        padding: 5% 5%;
        border: 1px solid black;
        border-radius: 5%;
    }

    #testimonial .card {
        border: 1px solid #273f5b;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }
}


/* footer section */
/* footer section starts */

#footer {
    height: 100vh;
    padding: 6% 3% 1%;
    background-color: #000;
    color: #ecf5fe !important;
}